name: Build sing-box ruleset
on:
  workflow_dispatch:
  schedule:
    - cron: "0 19 * * *"
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
      - "**/*.ini"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          echo "update_version=$(date -d '+8 hours' +%Y-%m-%d)" >> ${GITHUB_ENV}
          echo "domains_download_url=https://github.com/DustinWin/domain-list-custom/releases/download/domains" >> ${GITHUB_ENV}
          echo "ips_download_url=https://github.com/DustinWin/geoip/releases/download/ips" >> ${GITHUB_ENV}
        shell: bash

      - name: Clone Repository
        uses: actions/checkout@v6

      - name: Download rule source files
        run: |
          mkdir -p ./tools/rules/ ./tmp/
          domains=(private ads trackerslist microsoft-cn apple-cn google-cn games-cn netflix disney max primevideo appletv youtube tiktok bilibili spotify media games ai networktest tld-proxy gfw proxy cn cn-lite)
          ips=(netflixip mediaip gamesip privateip cnip telegramip)

          for domain in "${domains[@]}"; do
            mkdir -p "./tools/rules/${domain}/"
            curl -sSL "${domains_download_url}/${domain}.list" > "./tools/rules/${domain}/${domain}.list"
          done

          mkdir -p ./tools/rules/fakeip-filter/
          curl -sSL "${domains_download_url}/fakeip-filter.list" | awk '!/(DOMAIN-REGEX,|ntp|stun|time)/' > ./tmp/temp-fakeip-filter-rules.txt
          cat <<EOF >> ./tmp/temp-fakeip-filter-rules.txt
DOMAIN-KEYWORD,ntp
DOMAIN-KEYWORD,stun
DOMAIN-KEYWORD,time
EOF
          curl -sSL "${domains_download_url}/fakeip-filter.list" | awk '/DOMAIN-REGEX,/ && !/(ntp|stun|time)/' >> ./tmp/temp-fakeip-filter-rules.txt
          sort --ignore-case ./tmp/temp-fakeip-filter-rules.txt > ./tools/rules/fakeip-filter/fakeip-filter.list

          mkdir -p ./tools/rules/fakeip-filter-lite/
          curl -sSL "${domains_download_url}/fakeip-filter-lite.list" | awk '!/(DOMAIN-REGEX,|ntp|stun|time)/' > ./tmp/temp-fakeip-filter-lite-rules.txt
          cat <<EOF >> ./tmp/temp-fakeip-filter-lite-rules.txt
DOMAIN-KEYWORD,ntp
DOMAIN-KEYWORD,stun
DOMAIN-KEYWORD,time
EOF
          sort --ignore-case ./tmp/temp-fakeip-filter-lite-rules.txt > ./tools/rules/fakeip-filter-lite/fakeip-filter-lite.list

          mkdir -p ./tools/rules/applications/
          curl -sSL "${domains_download_url}/applications.list" > "./tools/rules/applications/applications.list"

          for ip in "${ips[@]}"; do
            mkdir -p "./tools/rules/${ip}/"
            curl -sSL "${ips_download_url}/${ip}.list" > "./tools/rules/${ip}/${ip}.list"
          done
          rm -rf ./tmp*

      - name: Generate `sing-box` rule_set (srs)
        run: |
          LATEST_TAG=$(curl -sSL https://api.github.com/repos/SagerNet/sing-box/releases/latest | jq -r '.tag_name')
          LATEST_VERSION=${LATEST_TAG#v}
          echo "Using sing-box version: ${LATEST_VERSION}"
          echo "singbox_core_new_version=${LATEST_VERSION}" >> $GITHUB_ENV

          curl -L "https://github.com/SagerNet/sing-box/releases/download/${LATEST_TAG}/sing-box-${LATEST_VERSION}-linux-amd64.tar.gz" | tar -zx -C ./tools/
          mv -f "./tools/sing-box-${LATEST_VERSION}-linux-amd64/sing-box" ./tools/sing-box
          
          mkdir -p ./sing-box-ruleset/
          cd ./tools/
          sed -i 's/"version": [0-9]*/"version": 2/' ./convert.sh
          # Convert line endings if necessary and run
          sed -i 's/\r$//' ./convert.sh
          chmod +x ./convert.sh && ./convert.sh
          mv -f ./*.srs ../sing-box-ruleset/
          rm -rf ./sing-box* ./rules*

      - name: Release and upload `sing-box-ruleset` assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: sing-box-ruleset
          tag: sing-box-ruleset
          overwrite: true
          body: |
            [sing-box 内核](https://github.com/SagerNet/sing-box) rule_set 规则集文件
            适用于 v${{ env.singbox_core_new_version }} 及以上版本的 sing-box 内核
            规则集文件更新于 ${{ env.update_version }}
          file_glob: true
          file: ./sing-box-ruleset/*

      - name: Commit and push `sing-box-ruleset` branch
        run: |
          cd ./sing-box-ruleset/ || exit 1
          git init
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git checkout -b sing-box-ruleset
          git add . && git commit -m "sing-box 内核 rule_set 规则集文件更新于 ${{ env.update_version }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}" || git remote set-url origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f origin sing-box-ruleset

      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 3
          keep_minimum_runs: 1
